{% extends "mail/layout.html" %}

{% block body %}

<form action="{% url 'login' %}" method="post" id='login_form'>
    <img src='https://cdn.iconscout.com/icon/free/png-256/mail-e-mail-email-send-message-47385.png' id='logo'>
    <br>
    <h3 id='page_header'>SIGN IN</h3>
    {% if message %}
    <div class='message'>{{ message }}</div>
    {% endif %}
    <br>
    {% csrf_token %}
    <div class="form-group">
        <b>Email: </b>
        <input autofocus class="form-control" type="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <b>Password: </b>
        <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <br>
    <div id='inline'>
        <p>Don't have an account? <br>
            <a href="{% url 'register' %}">Register here.</a></p>
        <input id='submit_login' type="submit" value="Login">
    </div>
</form>

    

{% endblock %}